<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Bienvenido a <%= title %></p>
    <% users.forEach(function(user) { %>
      <div>
        <label><%= user.email %></label>
        <span><%= user.full_name %></span>
      </div>
    <% }) %>
  </body>
</html>
